<div *ngIf="task">
    <div class="item">
        
        <div *ngIf="isEdit; else notEdit">
            <div class="item">
                <app-check-box [isEdit]="isEdit" [isFinished]="task.isFinished" (click)="changeStatus(!task.isFinished)"></app-check-box>
                <input matInput class="add-input" type="text" [value]="task.description" (mousedown)="$event.stopPropagation()" #edited>

                <div class="buttons">
                    <button mat-icon-button (click)="updateItem(edited.value)">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button (click)="enterEditMode(!isEdit)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <ng-template #notEdit>
            <app-check-box [isEdit]="isEdit" [isFinished]="task.isFinished" (click)="changeStatus(!task.isFinished)"></app-check-box>
            <span>
                {{task.description}}
            </span>
            <div class="buttons">
                <button mat-icon-button (click)="enterEditMode(!isEdit)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteItem()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-template>


    </div>
</div>
